In [4]:
import pandas as pd

In [5]:
rural_data = pd.read_csv(r"C:\Users\annun\Documents\ruralData_1.csv")

In [6]:
rural_data

,district,taluka,village,name_women,age,category,education,family_type,house_type,primary_occupation,...,income_from_KharifCrops_annually,amt_spent_on_RabiCrops_annually,income_from_RabiCrops_annually,amt_spent_on_CashCrops_annually,income_from_CashCrops_annually,amt_spent_on_vegetable_annually,income_from_vegetable_annually,no_of_livestock,income_from_livestock,income_change_from_adopting_one_acre_model
0,Solapur,North Solapur,Honasal,Bhagyashri Shankar Dhapate,35,OPEN,8th To 10th,Seperated,concrete house (slab),Farming,...,35000,5000,20000,0.0,0.0,5000,100000,1.0,40000.0,30000-60000
1,Nanded,Loha,Borgaon A,Minakshi Patil,35,OBC,11th 12 th,Seperated,"Kachha house (made of stone, mud)",Farming,...,35000,1500,30000,3000.0,25000.0,1000,25000,1.0,60000.0,10000-30000
2,Nanded,Loha,Bamni,Shivkanta digambar kokate,32,OPEN,11th 12 th,Seperated,"Kachha house (made of stone, mud)",Farming,...,20000,5000,25000,2000.0,20000.0,500,15000,2.0,40000.0,10000-30000
3,Osmanabad,Bhoom,Ganegaon,Vijaya Vikram Jadhav,40,OPEN,1st to 4th,Joint,concrete house (slab),Farming,...,90000,10000,30000,5000.0,20000.0,25000,100000,1.0,10000.0,90000 or more
4,Osmanabad,Washi,Shendi,Aashra Ramdas Warakad,38,OPEN,8th To 10th,Seperated,"Half concrete house (cement, sheet house)",Farming,...,"60,000",15000,60000,0.0,0.0,3000,10000,1.0,25000.0,30000-60000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6783,Solapur,Akkalkot,Chapalgavwadi,Rihana Ahamad Nadaf,36,OPEN,8th To 10th,Seperated,"Kachha house (made of stone, mud)",Farming,...,4000,2000,5000,0.0,0.0,2000,5000,1.0,2000.0,10000-30000
6784,Solapur,Akkalkot,Chapalgavwadi,Pallavi Prakash Gowind,32,OPEN,8th To 10th,Seperated,"Kachha house (made of stone, mud)",Farming,...,4000,2000,5000,0.0,0.0,2000,4000,1.0,2000.0,10000-30000
6785,Solapur,Akkalkot,Kinivadi,Bhagyashri Santosh mali,32,OBC,11th 12 th,Seperated,"Kachha house (made of stone, mud)",Farming,...,25000,10000,20000,0.0,0.0,5000,20000,5.0,20000.0,10000-30000
6786,Solapur,Akkalkot,Kinivadi,Bhourmma chidanand ulahde,34,OPEN,8th To 10th,Seperated,"Kachha house (made of stone, mud)",Farming,...,20000,10000,20000,0.0,0.0,5000,20000,6.0,20000.0,10000-30000
6787,Solapur,Akkalkot,Kinivadi,Vidya prmeshvar kumbhar,36,OBC,5th To 7th,Seperated,"Kachha house (made of stone, mud)",Farming,...,20000,5000,15000,0.0,0.0,5000,15000,3.0,16000.0,10000-30000

In [ ]:
# regression
# predicting annunal income